html, body {
  font-family: Arial;
  padding:0;
  margin:0;
}

.logo {
  display: block;

}



header {
  background-image: linear-gradient(black, black, silver);
  color:white;
  background-size: 100%;
  background-size:cover;
}

.HeaderNav {
  float: center;
  margin:auto;
}

.HeaderOptions:hover {
  background-color: white;
  color:black;
  float: right;
}

.HeaderNavTwo {
  float: center;
}



footer {
  text-align: center;
  background-image: linear-gradient(silver, black, black);
  color:white;
  background-size: 100%;
  background-size:cover;
}

.FooterNav {
  float: center;
}

.FooterOptions:hover {
  background-color: white;
  color:black;
}



main {
  width:80%;
  margin: auto;
  background-size: 100%;

}

.MainNav {
  font-weight: bold;
  background-image: url("media/page_cover_nav_bar.png");
}





a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
} 












q {
  text-align:right; 
  font-family:Georgia;
  color:silver ;
}

h1 {
  font-family: Georgia;
  size: 2em;
  padding: 10px;
}

h2 {
  size: 1.2em;
  padding: 10px;
}

h3 {
  size: 1.1em;
  padding: 10px;
}

h4 {
  size: 1.1em;
  padding: 10px;
}

h5 {
  size: 0.8em;
  padding: 10px;
}

small {
  font-size: 0.5em;
}

img {

}

figcaption {
  text-align:center;
  font-size: 0.5em;
  padding: 5px;
}



#advert {
  border:solid black 2px;
  width:100%;
  object-fit:cover;
}


#ProfilePic {
  width:300px; 
  height:300px;
  object-fit:cover;
  padding:10px;
}


.PageIdentifier {
  display:flex;
}




table{
  align-items: center;
}






.Component{
  color:white;
  background-color: black;
  width: 40%;

  /*url("media/Section_cover_nav_bar.png");*/
}



#About {
  color:white;
  align:center;
  background-image: url("media/bebo_cover_photo.png");
  object-fit: fill;
}




#Friends {

}

#FriendsHeading {
  position: absolute;
  top: 8px;
  left: 16px;
}


#top16 {
  border-color: silver;
  width: 100px;
  height: 100px;
  font-size: 0.8em;
  align-items: center;
  text-align: center;
}

.Top16{
  width: 80px;
  height: 80px;
}



#FlashBox {

}



#WhiteBoard {

}



#Photos {

}

.Top9 {
  width: 100px;
  height: 100px;
  object-fit: cover;
}



#Wall {

}



#Widget{
}

model-viewer {
  width: 400px;
  height: 600px;
  margin: 0 auto;
}


#Blog {

}


#Quiz {

}




* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}